.toast-container {
position: fixed;
top: 0.5rem;
right: 0.5rem;
}

.toast {
    width: 10rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem ;
    color: aliceblue;
    position: relative;
    font-size: 1rem;
    animation: slide 1s 1;

    span {
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
}

.success {
    background-color: green;

}

.error {
    background-color: red;
}

.warning {
    background-color: yellow;
    color: black;
}

.info{
    background-color: blue;
}

@keyframes slide{
    0%{
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.button {
    border: 1px solid grey;
    margin: 10px;
}